.card {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    min-width: 300px;
}

.card .title {
    padding: 5px 0px;
    display: flex;
    justify-content: center;
}

.card .content {
    text-align: start;
    flex-grow: 1;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 0;
}